__pycache__/
.venv/
.env
.vscode

# Data and Files
/data/*
/files/*.xlsx
/files/*.csv
!/files/.gitkeep

# dbt artifacts
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

raw_snies_files/

# Secrets
secrets/
!secrets/.gitkeep
